@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*, ::after, ::before
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  opacity: 1;
}

a
{
  cursor: pointer;
  text-decoration: none;
  font-family: poppins;
}

li
{
  list-style-type: none;
}

.wrapper
{
  align-items: stretch;
  display: flex;
  width: 100%;
}
#sidebar
{
  background: var(--bs-dark);
  transition: all 0.35s ease-in-out;
  height: 90.5vh;
}
.main
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: var(--bs-dark-bg-subtle);
}


.sidebar-logo
{
  padding: 1.15rem;
}
.sidebar-logo a
{
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-left: -3px;
  margin-top: 0px;
}

.icond
{
  font-size: 19px;
  padding-bottom: 2px;
  margin-right: 5px;
}
.sidebar-nav
{
  flex-grow: 1;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

.sidebar-link
{
  padding: .625rem 1.625rem;
  position: relative;
  display: block;
  font-size: 0.875rem;
  text-decoration: none;
}
.sidebar-link [data-bs-toggle="collapse"]::after
{
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}
.sidebar-link [data-bs-toggle="collapse"]..collapsed::after
{
  transform: rotate(45deg);
  transition: all 0.2s ease-out;  
}


.avatar
{
  height: 40px;
  width: 40px;
}

.navbar-expand .navbar-nav
{
  margin-left: auto;
}

#sidebar.collapsed
{
  margin-left: -264px;
}

@media(max-width:767.98px)
{
  .navbar
  {
    width: 100vw;
  }
}

.accordion-color
{
  background-color: black;
  color: #e9ecef;
}

#sidebar-toggle
{
  font-size: 27px;
  color: red;
}
.maincontainer {
  padding: 0 0 0 0 !important;
}
.contentarea
{
  margin-top: 57px;
}
.mainsidebar
{
  min-height: 90.5vh;
}
.navlogo
{
  font-size: 30px;
  color:#444f5a;
  font-weight: 600;
  font-family: 'Poppins';
  text-decoration: none;
}
.navsearchbar
{
  outline: none !important;
}
.navsearchbar:focus
{
  outline: gray !important;
  box-shadow: none !important;
  border: none !important;
}
.searchicon
{
  font-size: 25px;
  margin-bottom: 4px;
  color: darkgray;
}
.searchbutton
{
  height: 37px;
  outline: none !important;
  border: 1px solid lightgray !important;
}
.sidebarmenu
{
  margin-left: -32px;
}
.sidebarmenu>li 
{
  padding: 10px;
  border-bottom: 1px solid darkgray;
  list-style-type: none;
}
.sidebarmenu>li a
{
  text-decoration: none;
  font-family: 'Poppins';
  color: #444f5a;
  font-size: 14px;
  font-weight: 500;
}
.sidebarmenu>li:hover
{
  background-color:#e9ecef;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.chartstable
{
  background-color: transparent ;
  color: white;
  width: 100%;
}


